<!DOCTYPE html>
<html lang="en">

<head>
  <link href='https://fonts.googleapis.com/css?family=Manrope' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>Celebrity Page</title>
  <style>
    .container {
      padding-top: 50px;
    }

    body {
      font-family: 'Manrope';
      font-size: 22px;
    }
    w3-container{
      display: inline-block;
      border: solid 1px black;
    }

    #atas {
      width: 40%;
      margin: 0 auto;
      list-style: none;
    }

    #atas li {
      background-color: transparent;
      float: left;
    }

    #atas a {
      display: block;
      text-align: center;
      width: 170px;
      /* fixed width */
      text-decoration: none;
    }
  </style>
</head>

<body>

  <nav id='atas' class="navbar" style="align-content: center;">
    <ul class="nav nav-pills">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/Seleb">Celebrity</a>
      <a class="nav-link" href="/Shop">Shops</a>
      <a class="nav-link" href="/Chart">Chart</a>
    </ul>
  </nav>

  <div class="container" style="border-top: 2px solid black;">