<%- include('./partials/head') %>

    <h1 style="text-align: center;">Which Chart do you want to see?</h1>
    <h3 style="text-align: center;"><a href="/Chart/Seleb" role="button" >Celeb Chart</a></h3>
    <h3 style="text-align: center;"><a href="/Chart/Shop" role="button" >Shop Chart</a></h3>

<%- include('./partials/foot') %>
